@import "/styles/variables.css";
@import "/styles//header.css";
@import "/styles/main.css";
@import "/styles/footer.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: var(--font-family-secondary);
  font-size: 20px;
}

h1 {
  font-size: 74px;
  font-family: var(--font-family-primary);
  color: var(--color-font-400);
}

h2 {
  font-size: 56px;
  font-family: var(--font-family-primary);
  color: var(--color-font-400);
  font-weight: 400;
  font-style: regular;
}

h3 {
  font-size: 42px;
  font-family: var(--font-family-primary);
  color: var(--color-font-400);
  font-weight: 400;
}

h4 {
  font-size: 32px;
  font-family: var(--font-family-primary);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

.btn {
  padding: 16px 20px;
  color: white;
  border-radius: 20px;
  background-color: var(--color-secondary);
  transition: var(--transition-200);
}

.btn:hover {
  background-color: var(--color-primary);
}

.cta {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

/* tabs */
@media screen and (max-width: 1023px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 34px;
  }
  h4 {
    font-size: 26px;
  }
}

/* phones */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
}
