footer {
  background-color: var(--color-font-400);
}

.footer-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.9fr 2fr;
  padding: 48px 80px 48px 80px;
  color: #a3a3a3;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-social {
  bottom: 0;
  display: flex;
  gap: 24px;
}

.footer-right {
  display: flex;
  gap: 90px;
}

.footer-list {
  p {
    margin-bottom: 32px;
    font-size: 18px;
    color: white;
    font-weight: 400;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
  }
  ul li:hover {
    text-decoration: underline;
  }
}

.footer-end-text {
  text-align: center;
  height: 140px;
  overflow: hidden;
  span {
    font-size: 193px;
    color: white;
    opacity: 0.2;
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-style: bold;
  }
}

@media (max-width: 1023px) {
  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 40px 40px 40px;
  }
  .footer-right {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
  }
  .footer-social {
    gap: 18px;
  }
  .footer-list p {
    font-size: 17px;
    margin-bottom: 24px;
  }
  .footer-list ul {
    gap: 11px;
    font-size: 15px;
  }
  .footer-end-text {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 28px 12px 28px 12px;
  }
  .footer-left {
    gap: 16px;
  }
  .footer-logo-container {
    gap: 16px;
  }
  .footer-social {
    gap: 10px;
  }
  .footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 8px;
  }
  .footer-list p {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .footer-list ul {
    gap: 8px;
    font-size: 14px;
  }
  .footer-end-text {
    display: none;
  }
}
